@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

header{
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    /* lo siguiente es un efecto parallax */
    background-attachment: fixed;
}
main{
    background-color: #221d2d;
    color: #fdfcfd;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

body{
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0;
    height: 100vh;
    background: #221d2d;
    color: #fcfcfd;
}

img{
    width: 100%;
}

div{
    display: grid;
}

h2{
    display: block;
}
/* probe con esto también para tratar de hacer que el logo quedara por encima del navbar */

.logo{
    max-width: 30px;
    max-height: 30px;
}

.titulo-principal{
    color: blueviolet;
    background-color: grey;
}

.card-container{
    display: grid;
    grid-auto-rows: 550px;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.card{
    display: grid inline;
    justify-items: center;
    align-items: center;
    max-width: 325px;
    height: 400px;
    margin: 10px 10px 10px 10px;
    background: #121017;
    border-radius: 30px;
    text-align: center;
}

.card div{
    display: grid;
}

.card div img{
    max-width: 300px;
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    border-radius: inherit;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card h3{
    justify-self: center;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}

.card h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

@media (width <= 600px){
    .card{
        margin: 10px 10px 10px 10px;
        width: 100%;
        justify-content: center;
    }

    .card h3 {
        justify-self: center;
    }

    .card div img {
        width: 100%;
    }
}

@media (width <= 440px){
    .card{
        width: 1fr;
        max-width: 100%px;
        margin: 5px 5px 5px 5px;
        justify-content: center;

    }
    .card div img {
        height: 40vw;
        width: 100%;
        margin: 5px 5px 5px 5px;
        border-radius: 10%;
    }
}

#texto-card{
    color: crimson;
}